doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(content="IE=edge", http-equiv="X-UA-Compatible")
		meta(content="Matt McKellar-Spence", name="author")
		meta(content="GitHub page of Matt McKellar-Spence", name="description")
		meta(content="width=device-width, initial-scale=1", name="viewport")
		title MattMS GitHub
		link(href="//css.mattms.info/main.css", rel="stylesheet")
	body
		.container
			block content
				= content
