extends _base

block content
	h1 Greetings!
	p Weary traveller of the Internet, you have arrived at a safe place.
	p This is GitHub portal of MattMS!
	p.
		One day it will showcase&hellip; stuff&hellip; maybe&hellip; but
		probably not.
		I am really lazy and lose interest quickly.
	p So&hellip; yay?
	// hellips are cool!
