extends _base

block content
	h1 Hello world!

	p Weary traveller of the Internet, you have arrived at a safe place.
		| This is GitHub site of MattMS!

	p
		| This gives an overview of my projects on GitHub,&nbsp;
		a(href="https://github.com/MattMS/mattms.github.io") including this site
		| .

	p
		| If you are curious about other aspects of myself, you may prefer to
		| read&nbsp;
		a(href="http://about.mattms.info/") my about page
		| .


	h2 Configurations

	p Discover how I bend various pieces of software to my will.


	h3 Fish

	p
		| I'm not a big fan of the command line, but&nbsp;
		a(href="http://fishshell.com/") Fish shell
		|  is the nicest I've used so far.

	p
		a(href="https://github.com/MattMS/my-fish-config") My Fish configuration
		|  is pretty basic, which I'll credit to Fish being great to begin with.


	h3 Lubuntu

	p
		| I like a simple OS, and&nbsp;
		a(href="http://lubuntu.net/") Lubuntu
		|  is currently what I have settled on.

	p
		a(href="https://github.com/MattMS/my-lubuntu-config") My Lubuntu configuration
		|  mostly just contains keyboard shortcuts that I settled on over time.
		| I also reformatted a few of the comments to make it easier for me to
		| read.


	h3 Vim

	p
		a(href="http://www.vim.org/") Vim
		|  is the last editor I switched to and never looked back.

	p
		a(href="https://github.com/MattMS/my-vim-config") My Vim configuration
		|  will probably change the most frequently compared to my other
		| configurations on here.
		| This is because I use it daily and I'm always seeking more efficent
		| ways to do things.
